body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #EB5E55;
    padding: 15px 100px;
    font-family: Komet, Arial, Helvetica, sans-serif;
    display: flex;
}

.logo {
    font-size: 36px;
    font-weight: 800;
    color: #FFF;
}

ul {
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    gap: 30px;
    margin-left: auto;
}
.link a {
    text-decoration: none;
    color: #FFF;
}

.masthead {
    background-color: #EB5E55;
    color: #FFF;
    padding: 75px 100px;
    display: flex;
    gap: 60px;
}

.masthead h1 {
    font-family: Komet, Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: 900;
    margin-bottom: 20px;
}

.masthead h2 {
    font-family: Quasimoda, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
}

.masthead button {
    border: none;
    outline: none;
    font-family: Komet, Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #FFF;
    color: #04A777;
    padding: 15px;
    font-weight: 700;
    border-radius: 10px;
}

.masthead img {
    height: 400px;
    width: auto;
    border-radius: 10px;
}

.info {
    padding: 20px 50px;
}

.info h2{
    font-family: Komet, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 70px;
}

.cards img {
    height: 200px;
    width: auto;
    border-radius: 10px;
    margin: 0 auto;
}

.cards p {
    font-family: Quasimoda, Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.cards .container {
    width: 200px;
}